@import '__reset.scss';
// @import '__var.scss';

.box {
	background:transparent url('../images_full/box.jpg') center top no-repeat;
	background-size: cover;
	height: 100%;
	.box__filter {
		background: #3D3302;
		opacity: .8;
		height: 100%;
	}
	button {
		position: relative;
		top: 60%;
		left: 60%;
		background: #000;
		color: #fff;
		border: 0px;
		z-index: 99;
		padding: 18px 45px;
		&:hover {
			background: #fff;
			color: #000;
			cursor: pointer;
		}
	}
}