# Generic IDE- and binary excludes
*.class
.idea
*.iml
target
*/target
*/*/target
*.pyc
*.*~
.vagrant
Vagrantfile
*.swp
*.swo

# Exclude logs
log
*.out

# Package Files #
*.jar
*.war
*.ear

# Eclipse-specific excludes
.classpath
.project
.settings
.metadata
.DS_Store